navbar-element {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button1 {
    background-color: transparent;
    border: 2px solid #00028b;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    /* color: #00d7c3; */
}

.button1:hover {
    box-shadow: 0 0 10px 0 #0a4770 inset, 0 0 20px 2px #0a4770;
    border: 2px solid #0a4770;
}

.divider {
    margin: auto;
    border: 0;
    height: 2px;
    width: 50%;
    display: block;
    background-color: rgb(78, 78, 78);
    background-image: linear-gradient(to right, rgb(231, 231, 231), rgb(135, 135, 135), rgb(207, 207, 207));
}

.logocenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', cursive;

}

/** navbar text */

.neon-blue-light {
    /* color: #001cbd; */
    text-shadow: 0 0 0.125em #ffffff, 0 0 0.25em #ededed;
    transition: text-shadow ease-in .1s, color ease-in .1s;
}


.neon-blue-light:hover {
    color: #0048ff;
    text-shadow: 0 0 0.25em #efefef, 0 0 0.5em #fbfeff;
    cursor: pointer;
}

/** */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000283;
    color: #ffffff;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 50;
}

.scroll-to-top.show {
    opacity: 1;
}

.image-hover {
    display: inline-block;
    overflow: hidden;
    border-radius: 1%;
}

.image-hover img {
    margin: 0px 0px 0px 0px
}

/*** effect zoom in ***/

.img-zoom-in img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.img-zoom-in:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

/*** colorful text animatiion ***/

.colorful-text-animation {
    position: relative;
    color: #252B37;
    animation: textColor 10s ease infinite;
}

@keyframes textColor {
    0% {
        color: #002072;
    }

    50% {
        color: #0fffc1;
    }

    100% {
        color: #7e0fff;
    }
}

.size-a-2 {
    width: 120px;
    height: 3px;
}

.bg-3 {
    background-color: #333;
}

/** footer location icon */

.location-icon {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    transition: transform 0.3s ease;
}

.location-icon:hover {
    transform: translateX(20px);
}

/** */

.transitionsItem {
    overflow: hidden;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
}







/* 
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */

* {
    box-sizing: border-box;
}

.cards-animation {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1366px;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('/project/proje1.JPG');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('/project/proje2.JPG');
}

.card--3 .card__img,
.card--3 .card__img--hover {
    background-image: url('/project/proje3.JPG');
}

.card--4 .card__img,
.card--4 .card__img--hover {
    background-image: url('/project/proje3.JPG');
}

.card--5 .card__img,
.card--5 .card__img--hover {
    background-image: url('/project/proje3.JPG');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card-animation {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card-animation:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card-animation:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card-animation:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card-animation:hover .card__info-hover {
    opacity: 1;
}

.background-svg {
    background-image: url('/svg/bg.svg');
    background-repeat: no-repeat;
    background-position: cover;
}

.accordion-img {
    /* background-image: url('https://static.vecteezy.com/system/resources/previews/003/594/689/non_2x/single-continuous-line-drawing-welder-with-gesture-okay-works-in-the-construction-of-building-forming-steel-frame-that-is-melted-by-fire-dynamic-one-line-draw-graphic-design-illustration-vector.jpg'); */
    background-repeat: no-repeat;
    background-position: 69px center;
    background-size: contain;
    background-image: url('/svg/accordion.svg');
    z-index: 0;
}

.animate-bounce {
    animation: bounce 1s infinite;
}

.usercomment-animated-svg {
    background-image: url('/svg/usercomment.svg');
    background-repeat: no-repeat;
    background-position: cover;
}

.faq-svg {
    /* background-image: url('/svg/faq.svg'); */
    background-repeat: no-repeat;
    background-position: initial;
}

.circle-div {
    background-color: #686767;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.circle-div:hover {
    box-shadow: 0 0 5px rgba(107, 107, 107, 0.7);
}