navbar-element {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button1 {
    background-color: transparent;
    border: 2px solid #00028b;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    /* color: #00d7c3; */
}

.button1:hover {
    box-shadow: 0 0 10px 0 #0a4770 inset, 0 0 20px 2px #0a4770;
    border: 2px solid #0a4770;
}

.divider {
    margin: auto;
    border: 0;
    height: 2px;
    width: 50%;
    display: block;
    background-color: rgb(78, 78, 78);
    background-image: linear-gradient(to right, rgb(231, 231, 231), rgb(135, 135, 135), rgb(207, 207, 207));
}

.logocenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', cursive;

}

/** navbar text */

.neon-blue-light {
    /* color: #001cbd; */
    text-shadow: 0 0 0.125em #ffffff, 0 0 0.25em #ededed;
    transition: text-shadow ease-in .1s, color ease-in .1s;
}


.neon-blue-light:hover {
    color: #0048ff;
    text-shadow: 0 0 0.25em #efefef, 0 0 0.5em #fbfeff;
    cursor: pointer;
}

/** */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000283;
    color: #ffffff;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 50;
}

.scroll-to-top.show {
    opacity: 1;
}

.image-hover {
    display: inline-block;
    overflow: hidden;
    border-radius: 1%;
}

.image-hover img {
    margin: 0px 0px 0px 0px
}

/*** effect zoom in ***/

.img-zoom-in img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.img-zoom-in:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

/*** colorful text animatiion ***/

.colorful-text-animation {
    position: relative;
    color: #252B37;
    animation: textColor 10s ease infinite;
}

@keyframes textColor {
    0% {
        color: #002072;
    }

    50% {
        color: #0fffc1;
    }

    100% {
        color: #7e0fff;
    }
}

.size-a-2 {
    width: 120px;
    height: 3px;
}

.bg-3 {
    background-color: #333;
}

/** footer location icon */

.location-icon {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    transition: transform 0.3s ease;
}

.location-icon:hover {
    transform: translateX(20px);
}

/** */

.transitionsItem {
    overflow: hidden;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity, height;
    white-space: nowrap;
    cursor: pointer;
    line-height: 80px;
  }
  